# Data cleaning and feature creation
Often writes data to data/processed or data/interim

In [1]:
import polars as pl
import os

DATA_PATH = "../data/raw"

In [24]:
# Load data
file_names = [x for x in os.listdir(DATA_PATH) if ".csv" in x]  # List all CSV files in the raw data directory

df_list = []
for file in file_names:
    print("Loading file:", file)
    df = pl.scan_csv(os.path.join(DATA_PATH, file), infer_schema=False)
    df_list.append(df)
print("Loaded", len(df_list), "files.")

Loading file: ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv
Loading file: ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv
Loading file: ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv
Loaded 3 files.

In [36]:
# Combine lazyframes into a single lazyframe
df_combined = pl.concat(df_list, how="align_full")
df_combined_col = df_combined.collect()

In [37]:
# Convert datatype
df_combined_col.head()

shape: (5, 11)
┌─────────┬────────────┬───────────┬───────┬───┬────────────┬────────────┬────────────┬────────────┐
│ month   ┆ town       ┆ flat_type ┆ block ┆ … ┆ flat_model ┆ lease_comm ┆ remaining_ ┆ resale_pri │
│ ---     ┆ ---        ┆ ---       ┆ ---   ┆   ┆ ---        ┆ ence_date  ┆ lease      ┆ ce         │
│ str     ┆ str        ┆ str       ┆ str   ┆   ┆ str        ┆ ---        ┆ ---        ┆ ---        │
│         ┆            ┆           ┆       ┆   ┆            ┆ str        ┆ str        ┆ str        │
╞═════════╪════════════╪═══════════╪═══════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2012-03 ┆ ANG MO KIO ┆ 2 ROOM    ┆ 172   ┆ … ┆ Improved   ┆ 1986       ┆ null       ┆ 250000     │
│ 2012-03 ┆ ANG MO KIO ┆ 2 ROOM    ┆ 510   ┆ … ┆ Improved   ┆ 1980       ┆ null       ┆ 265000     │
│ 2012-03 ┆ ANG MO KIO ┆ 3 ROOM    ┆ 103   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 368000     │
│         ┆            ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
│ 2012-03 ┆ ANG MO KIO ┆ 3 ROOM    ┆ 110   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 323000     │
│         ┆            ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
│ 2012-03 ┆ ANG MO KIO ┆ 3 ROOM    ┆ 114   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 339000     │
│         ┆            ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
└─────────┴────────────┴───────────┴───────┴───┴────────────┴────────────┴────────────┴────────────┘

In [38]:
# Convert variables to appropriate types
df_combined_col = df_combined_col.with_columns(
    pl.col("resale_price").cast(pl.Float64),
    pl.col("lease_commence_date").cast(pl.Int64),
    pl.col("floor_area_sqm").cast(pl.Float64),
    pl.col("month").str.to_date("%Y-%m")
)
df_combined_col.head()

shape: (5, 11)
┌─────────────┬────────┬───────────┬───────┬───┬────────────┬────────────┬────────────┬────────────┐
│ month       ┆ town   ┆ flat_type ┆ block ┆ … ┆ flat_model ┆ lease_comm ┆ remaining_ ┆ resale_pri │
│ ---         ┆ ---    ┆ ---       ┆ ---   ┆   ┆ ---        ┆ ence_date  ┆ lease      ┆ ce         │
│ date        ┆ str    ┆ str       ┆ str   ┆   ┆ str        ┆ ---        ┆ ---        ┆ ---        │
│             ┆        ┆           ┆       ┆   ┆            ┆ i64        ┆ str        ┆ f64        │
╞═════════════╪════════╪═══════════╪═══════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 2012-03-01  ┆ ANG MO ┆ 2 ROOM    ┆ 172   ┆ … ┆ Improved   ┆ 1986       ┆ null       ┆ 250000.0   │
│             ┆ KIO    ┆           ┆       ┆   ┆            ┆            ┆            ┆            │
│ 2012-03-01  ┆ ANG MO ┆ 2 ROOM    ┆ 510   ┆ … ┆ Improved   ┆ 1980       ┆ null       ┆ 265000.0   │
│             ┆ KIO    ┆           ┆       ┆   ┆            ┆            ┆            ┆            │
│ 2012-03-01  ┆ ANG MO ┆ 3 ROOM    ┆ 103   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 368000.0   │
│             ┆ KIO    ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
│ 2012-03-01  ┆ ANG MO ┆ 3 ROOM    ┆ 110   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 323000.0   │
│             ┆ KIO    ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
│ 2012-03-01  ┆ ANG MO ┆ 3 ROOM    ┆ 114   ┆ … ┆ New        ┆ 1978       ┆ null       ┆ 339000.0   │
│             ┆ KIO    ┆           ┆       ┆   ┆ Generation ┆            ┆            ┆            │
└─────────────┴────────┴───────────┴───────┴───┴────────────┴────────────┴────────────┴────────────┘

In [52]:
# Check for nulls
null_counts = df_combined_col.null_count()
print("Null counts in each column:")
print(null_counts)

Null counts in each column:
shape: (1, 13)
┌───────┬──────┬───────────┬───────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ month ┆ town ┆ flat_type ┆ block ┆ … ┆ remaining_le ┆ resale_price ┆ remaining_le ┆ days_from_ea │
│ ---   ┆ ---  ┆ ---       ┆ ---   ┆   ┆ ase          ┆ ---          ┆ ase_yrs      ┆ rliest_data  │
│ u32   ┆ u32  ┆ u32       ┆ u32   ┆   ┆ ---          ┆ u32          ┆ ---          ┆ ---          │
│       ┆      ┆           ┆       ┆   ┆ u32          ┆              ┆ u32          ┆ u32          │
╞═══════╪══════╪═══════════╪═══════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 0     ┆ 0    ┆ 0         ┆ 0     ┆ … ┆ 265657       ┆ 0            ┆ 0            ┆ 0            │
└───────┴──────┴───────────┴───────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [51]:
# Calculate months from earliest month in dataset (Mar-2012)
df_combined_col = df_combined_col.with_columns(
    remaining_lease_yrs = (pl.col("month").dt.year() - pl.col("lease_commence_date")),
    days_from_earliest_data = (pl.col('month') - pl.date(2012, 3, 1)).dt.total_days()
)

In [53]:
# Remaining lease can be dropped and recalculated on the assumption that each lease lasts for 99 years.
df_combined_col = df_combined_col.drop("remaining_lease")

In [62]:
# Checking unique values of towns
pl.Config.set_tbl_rows(100)
df_combined_col.select(pl.col("town").unique())

shape: (26, 1)
┌─────────────────┐
│ town            │
│ ---             │
│ str             │
╞═════════════════╡
│ HOUGANG         │
│ JURONG WEST     │
│ JURONG EAST     │
│ TOA PAYOH       │
│ SEMBAWANG       │
│ BEDOK           │
│ BUKIT BATOK     │
│ PUNGGOL         │
│ BUKIT TIMAH     │
│ KALLANG/WHAMPOA │
│ QUEENSTOWN      │
│ WOODLANDS       │
│ YISHUN          │
│ PASIR RIS       │
│ BISHAN          │
│ CLEMENTI        │
│ CENTRAL AREA    │
│ MARINE PARADE   │
│ CHOA CHU KANG   │
│ TAMPINES        │
│ GEYLANG         │
│ BUKIT MERAH     │
│ BUKIT PANJANG   │
│ ANG MO KIO      │
│ SERANGOON       │
│ SENGKANG        │
└─────────────────┘

In [65]:
# Check flat type
df_combined_col.select(pl.col("flat_type").unique())
df_combined_col.select(pl.col("block").unique())
df_combined_col.select(pl.col("flat_model").unique())

shape: (21, 1)
┌────────────────────────┐
│ flat_model             │
│ ---                    │
│ str                    │
╞════════════════════════╡
│ Type S1                │
│ Model A                │
│ Multi Generation       │
│ Model A2               │
│ Premium Apartment Loft │
│ Simplified             │
│ Premium Maisonette     │
│ Standard               │
│ 2-room                 │
│ Premium Apartment      │
│ Terrace                │
│ 3Gen                   │
│ DBSS                   │
│ Apartment              │
│ Adjoined flat          │
│ New Generation         │
│ Type S2                │
│ Improved               │
│ Maisonette             │
│ Model A-Maisonette     │
│ Improved-Maisonette    │
└────────────────────────┘

In [ ]:
# Check flat model futher

In [ ]:
# Check flat type
df_combined_col.select(pl.col("flat_type").unique())

In [61]:
# Checking unique values of storey blocks
pl.Config.set_tbl_rows(100)
df_combined_col.select(pl.col("storey_range").unique())

shape: (25, 1)
┌──────────────┐
│ storey_range │
│ ---          │
│ str          │
╞══════════════╡
│ 36 TO 40     │
│ 16 TO 20     │
│ 49 TO 51     │
│ 31 TO 35     │
│ 01 TO 03     │
│ 19 TO 21     │
│ 31 TO 33     │
│ 21 TO 25     │
│ 10 TO 12     │
│ 01 TO 05     │
│ 04 TO 06     │
│ 13 TO 15     │
│ 46 TO 48     │
│ 34 TO 36     │
│ 40 TO 42     │
│ 28 TO 30     │
│ 25 TO 27     │
│ 06 TO 10     │
│ 26 TO 30     │
│ 16 TO 18     │
│ 37 TO 39     │
│ 11 TO 15     │
│ 07 TO 09     │
│ 43 TO 45     │
│ 22 TO 24     │
└──────────────┘

In [ ]:
# Create min max value for stories, then group every 15 storeys since a part of the data groups every 5 floors instead of 3 floors

In [ ]:
# Split into train (2017-2022), test(2023) and deploy sets (2024)
train = df_combined_col.filter(df_combined_col['date'].dt.year().is_between(2017, 2022)).write_parquet("../data/processed/train.parquet")
test = df_combined_col.filter(df_combined_col['date'].dt.year() == 2023).write_parquet("../data/processed/test.parquet")
deploy = df_combined_col.filter(df_combined_col['date'].dt.year() == 2024).write_parquet("../data/processed/deploy.parquet")