Data obtained from: https://data.gov.sg/datasets?agencies=NEA&page=1&query=rain&resultId=2279

In [ ]:
import polars as pl
import os

DATA_PATH = "../data/raw"

In [ ]:
# Load data
file_names = [x for x in os.listdir(DATA_PATH) if ".csv" in x]  # List all CSV files in the raw data directory

df_list = []
for file in file_names:
    df = pl.scan_csv(os.path.join(DATA_PATH, file))
    df_list.append(df)

In [16]:
df_1.sql("""
SELECT *
FROM self
LIMIT 5
""").collect()

shape: (5, 12)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ date      ┆ timestamp ┆ update_ti ┆ station_i ┆ … ┆ reading_u ┆ reading_v ┆ reading_t ┆ reading_ │
│ ---       ┆ ---       ┆ mestamp   ┆ d         ┆   ┆ pdate_tim ┆ alue      ┆ ype       ┆ unit     │
│ str       ┆ str       ┆ ---       ┆ ---       ┆   ┆ estamp    ┆ ---       ┆ ---       ┆ ---      │
│           ┆           ┆ str       ┆ str       ┆   ┆ ---       ┆ f64       ┆ str       ┆ str      │
│           ┆           ┆           ┆           ┆   ┆ str       ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2017-01-0 ┆ 2017-01-0 ┆ 2017-01-0 ┆ S77       ┆ … ┆ 2017-01-0 ┆ 0.0       ┆ TB1       ┆ mm       │
│ 1         ┆ 1T08:04:5 ┆ 1T08:13:3 ┆           ┆   ┆ 1T08:13:3 ┆           ┆ Rainfall  ┆          │
│           ┆ 9+08:00   ┆ 1+08:00   ┆           ┆   ┆ 1+08:00   ┆           ┆ 5 Minute  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Total F   ┆          │
│ 2017-01-0 ┆ 2017-01-0 ┆ 2017-01-0 ┆ S109      ┆ … ┆ 2017-01-0 ┆ 0.0       ┆ TB1       ┆ mm       │
│ 1         ┆ 1T08:04:5 ┆ 1T08:13:3 ┆           ┆   ┆ 1T08:13:3 ┆           ┆ Rainfall  ┆          │
│           ┆ 9+08:00   ┆ 1+08:00   ┆           ┆   ┆ 1+08:00   ┆           ┆ 5 Minute  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Total F   ┆          │
│ 2017-01-0 ┆ 2017-01-0 ┆ 2017-01-0 ┆ S117      ┆ … ┆ 2017-01-0 ┆ 0.0       ┆ TB1       ┆ mm       │
│ 1         ┆ 1T08:04:5 ┆ 1T08:13:3 ┆           ┆   ┆ 1T08:13:3 ┆           ┆ Rainfall  ┆          │
│           ┆ 9+08:00   ┆ 1+08:00   ┆           ┆   ┆ 1+08:00   ┆           ┆ 5 Minute  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Total F   ┆          │
│ 2017-01-0 ┆ 2017-01-0 ┆ 2017-01-0 ┆ S55       ┆ … ┆ 2017-01-0 ┆ 0.0       ┆ TB1       ┆ mm       │
│ 1         ┆ 1T08:04:5 ┆ 1T08:13:3 ┆           ┆   ┆ 1T08:13:3 ┆           ┆ Rainfall  ┆          │
│           ┆ 9+08:00   ┆ 1+08:00   ┆           ┆   ┆ 1+08:00   ┆           ┆ 5 Minute  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Total F   ┆          │
│ 2017-01-0 ┆ 2017-01-0 ┆ 2017-01-0 ┆ S64       ┆ … ┆ 2017-01-0 ┆ 0.0       ┆ TB1       ┆ mm       │
│ 1         ┆ 1T08:04:5 ┆ 1T08:13:3 ┆           ┆   ┆ 1T08:13:3 ┆           ┆ Rainfall  ┆          │
│           ┆ 9+08:00   ┆ 1+08:00   ┆           ┆   ┆ 1+08:00   ┆           ┆ 5 Minute  ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ Total F   ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘